.contact-form__header {
    margin: 0 auto;
    color: #996633;
    max-width: 1230px;
}

.form__label--item {
    font-size: 20px;
    color: #d3d3d3
}

.form__label--require {
    font-size: 20px;
    color: red;
}

.input {
    font-size: 16px;
    background-color: #c0c0c0;
    padding: 10px;
    border: 1px solid #c0c0c0;
}

.form__button--submit {
    background-color: #996633;
    color:#d3d3d3;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}