body {
    background-color: #faf0e6;
}

.content__form--header {
    color: #996633;
    text-align: center;
}

.form__group {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #fff;
}

